{:paths ["src" "resources"]

 :mvn/repos {"releases" {:url "https://nexus.redplanetlabs.com/repository/maven-public-releases"}}

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  com.rpl/rama        {:mvn/version "1.1.0"}}

 :aliases
 {:dev      {}
  :rama     {:exec-fn word-count/run-module!}
  :telemere {:extra-deps {com.taoensso/telemere       {:mvn/version "1.0.1"}
                          com.taoensso/telemere-slf4j {:mvn/version "1.0.1"}}}
  :vespa    {:extra-deps {com.yahoo.vespa/vespa-feed-client {:mvn/version "8.340.17"}}}}}
